extends base
include _subHead
include _productCard

block CSS
  link(rel="stylesheet", href="/css/product.css")

block Content 
  .container-fluid.product_section
    .row
      //- // !---------------------------- Product Image ---------------------------------
      .image_box.col-lg-7.col-12
        img.product_img.w-100.img-fluid(src=`/./../img/products/${product.images[0]}`, alt, srcset)
      //- // !---------------------------- Product Info Box ---------------------------------
      .col-lg-5.col-12.product_info_box(data-id=`${product._id}` data-category=`${product.category.replace("&","&amp;")}` data-color=`${product.color}` data-model=`${product.model}`)
        .product_info
          h3.text-center.pt-4.product_heading=`${product.name}`
          .row
            //- // !---------------------------- Product Specs headings ---------------------------------
            .col-6.product_specs
              p.product_spec
                i.fas.fa-money-bill-wave.mr-2
                | Price

              p.product_spec
                i.fas.fa-award.mr-2
                | Model

              p.product_spec
                i.fab.fa-buffer.mr-2
                | Brand

              p.product_spec
                i.fas.fa-fill.mr-2
                | Color

              p.product_spec
                i.fas.fa-exclamation-circle.mr-2
                | Condition

              p.product_spec
                i.fas.fa-archive.mr-2
                | Availibilty

            //- // !---------------------------- Product Specs values ---------------------------------
            .product_specs_values.col-6
              p.product_spec_val.product_price=`Rs.${product.price}` 
              p.product_spec_val.product_model=`${product.model}`
              p.product_spec_val.product_brand=`${product.brand}`
              p.product_spec_val.product_color=`${product.color}`
              p.product_spec_val.product_condition=`${product.condition[0].toUpperCase() + product.condition.slice(1)}`
              - if(product.instock===true)
                  p.product_spec_val.product_availibilty=`Instock`
              - else 
                  p.product_spec_val.product_availibilty.text-danger=`Out of Stock`    
                
          .product_footer
            .text-center.pt-3
              span.product_reduce.mr-4 -
              span.text-white.font-weight-bold.quantity_val 1
              span.product_increase.ml-4 +
            .text-center.pt-3
              
                
              button.btn.btn-outline-light.card_btn.add_to_card(type="button").
                
                Add to cart
                
    //- // ************************ Description Box  **************************  
    .description_area
      .col-10.product_description.mx-auto
        .title-slider
          h4.tilt_grad.description_head#descHead.
            
            Description
            
        .description_text=`${product.description}`
    
  section.slider
    - if (relatedItems.length>0)

        +subHead("Related Items")
        
        .owl-carousel.owl-theme
            each prod in relatedItems
                .item
                    .col-3
                        +productCard(prod)   